//
   Created by Tom on 18/08/2016.

html
    head
        meta(property="title" content="Adept Guild Audit")
    body
        table
            thead
                tr
                    td Character
                    td Class
            tbody
                each member in members
                    tr
                        td
                            = member.name
                        td
                            = member.class.name