<!DOCTYPE html>
html(ng-app="audit")
    head
        meta(property="title" content="Adept Guild Audit")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="/audit.css")
        script.
            var guildInfo = !{JSON.stringify(guildInfo).replace(/<\//g, '<\\/')};
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
        script(src="https://use.fontawesome.com/ca8b035f76.js")
        script(src="/audit.js")
    body(ng-controller="ctrl as c").container
        div(style="display:flex; flex-direction:column")
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title Select Team
                div.panel-body
                    table.table.table-condensed.table-striped
                        thead
                            tr
                                td Name
                        tbody
                            tr(ng-repeat="team in c.teams track by $index" ng-click="c.teamClick(team)")
                                td(ng-bind="team.name")
                    button.btn.btn-success.col-xs-12(ng-click="c.openTeamModal()")
                        | Add Team
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title Team
                div.panel-body
                    table.table.table-condensed.table-striped
                        thead
                            tr
                                td Character
                                td Level
                                td Class
                                td iLvl(E)
                                td iLvl(A)
                                td Audit
                                td Upgrade %
                                td Missing Enchants
                                td Missing Gems
                                td Last Updated
                        tbody
                            tr(ng-repeat="auditedMember in c.auditedMembers track by $index")
                                td(ng-bind="auditedMember.name")
                                td(ng-bind="auditedMember.level")
                                td(ng-bind="auditedMember.class.name")
                                td(ng-bind="auditedMember.items.averageItemLevelEquipped")
                                td(ng-bind="auditedMember.items.averageItemLevel")
                                td(ng-bind="auditedMember.audit.result")
                                td(ng-bind="auditedMember.audit.averageItemUpgradeRatio*100 | number:0")
                                td(ng-bind="auditedMember.audit.totalMissingEnchants")
                                td(ng-bind="auditedMember.audit.totalMissingGems")
                                td(ng-bind="auditedMember.lastUpdated*1000 | date")
                                td
                                    button.btn.btn-sm.btn-danger(ng-click="c.characterRemove(auditedMember)")
                                        i.fa.fa-minus
                    button.btn.btn-success.col-xs-12(ng-click="c.openGuildModal()" ng-show="c.currentTeam !== null")
                        | Add Character
        script(type="text/ng-template" id="guildModalContent.html")
            div.modal-header
                h3.modal-title Add character to team
            div.modal-body
                table.table.table-condensed.table-striped
                    thead
                        tr
                            td Character
                            td Level
                            td Class
                            td
                    tbody
                        tr(ng-repeat="member in c.members track by $index" ng-show="!c.isSelected(member)")
                            td(ng-bind="member.name")
                            td(ng-bind="member.level")
                            td(ng-bind="member.class.name")
                            td
                                button.btn.btn-sm.btn-success(ng-click="c.characterClick(member)" ng-disabled="c.isSelected(member)")
                                    i.fa.fa-plus
        script(type="text/ng-template" id="teamModalContent.html")
            div.modal-header
                h3.modal-title Add team
            div.modal-body
                div.form-group
                    label(for="team-name") Name
                    input#team-name.form-control(type="text" ng-model="c.teamName")
            div.modal-footer
                button.btn.btn-sm.btn-success(ng-click="c.createTeam(c.teamName)" ng-disabled="!c.isValidTeamName(c.teamName)")
                    | Save