html
    body
        img(src=imageUri)
        div(style="display:inline-block;")
            h1
                = charInfo.name + " "
                = charInfo.level
            each raid in raidInfo
                p
                    = raid.name + ": " + raid.bossesKilled + "/" + raid.totalBosses