html
    head
        link(rel="stylesheet" href="/stub.css")
    body
        div.col(style="width:84px; height:84px")
            img(src=imageUri style="width:100%")
        div.col(style="width:250px; height:84px")
            table(style="width:100%; height:100%")
                tr
                    td(style="width:100%")
                        span
                            = charInfo.name
                    td
                tr
                    td(style="white-space: nowrap")
                        = charInfo.realm
                    td(style="width:100%; white-space:nowrap; text-align: right;")
                        = charInfo.className + ": " + charInfo.level
                tr
                    td(style="white-space: nowrap")
                        = "ilvl (E): " + charInfo.items.averageItemLevelEquipped
                    td(style="width:100%; white-space:nowrap; text-align: right;")
                        = "Audit: " + auditInfo.result
                tr
                    td(style="white-space: nowrap")
                        = "ilvl (A): " + charInfo.items.averageItemLevel
                    td(style="width:100%; white-space:nowrap; text-align: right;")
                        = "Upg: " + (auditInfo.averageItemUpgradeRatio * 100).toFixed(2) + '%'
        div.col(style="height:84px; padding-right:5px")
            table(style="width:100%; height:100%; text-align: right")
                each raid in raidInfo
                    tr
                        td
                            = raid.name
                    tr
                        td
                            = raid.bossesKilled + "/" + raid.totalBosses + "M"