html
    head
        link(rel="stylesheet" href="stub.css")
    body
        table
            tr
                td
                    img(src=imageUri)
                td
                    = charInfo.name
                    br
                    = charInfo.className + ": " + charInfo.level
                td(style="text-align: right")
                    each raid in raidInfo
                        = raid.name
                        br
                        = raid.bossesKilled + "/" + raid.totalBosses
                        br