html
    head
        meta(property="title" content=charInfo.name)
        link(rel="stylesheet" href="/stub.css")
    body
        div.mainrow
            div.col
                img(src=imageUri)
            div.col(style="width:250px")
                div.row
                    span(style="font-size: 20pt")= charInfo.name
                    span
                        span(style="color: " + charInfo.class.color)
                            = charInfo.class.name
                        = ":" + charInfo.level
                div.row
                    span(style="font-size: 10pt")
                        = charInfo.realm
                div.row
                    span
                        = "ilvl (E): " + charInfo.items.averageItemLevelEquipped
                    span
                        = "Audit: " + auditInfo.result
                div.row
                    span
                        = "ilvl (A): " + charInfo.items.averageItemLevel
                    span
                        = "Upg: " + (auditInfo.averageItemUpgradeRatio * 100).toFixed(2) + '%'
            div.col(style="justify-content: flex-end")
                each raid in raidInfo
                    div.row.raid
                        div.col
                            span(style="font-size: 9pt; text-align:right")
                                = raid.name
                            span
                                = raid.bossesKilled + "/" + raid.totalBosses + "M"

