<!DOCTYPE html>
html(ng-app="pics")
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel="stylesheet" href="/gallery.css")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
        script(src="/gallery.js")
        title="Cat Cam Gallery"
    body
        div.container-fluid(ng-controller="ctrl as c")
            div.row
                div.col-lg-12
                    h1.page-header Cat Cam Gallery
                        button.btn.btn-default.pull-right(ng-click="c.snapshot()" ng-disabled="c.snapshotInProgress")
                            i.fa.fa-spinner.fa-pulse.fa-fw(ng-show="c.snapshotInProgress")
                            span(ng-show="!c.snapshotInProgress") Snapshot

                div
                    each image in images
                        div.col-lg-2.col-md-3.col-sm-4.cos-xs-12(class=image.type)
                            a.thumbnail.card(href=image.url)
                                div.overlay
                                img.img-responsive(src=image.url)
                                span.date
                                    = image.date
                                span.time
                                    = image.time