.date {

}

.time {
    float: right;
}

.snapshot .card {
    position: relative;
}
.snapshot .overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 50px solid #000000;
    border-left: 50px solid transparent;
}

.snapshot .overlay::before{
    content: 'S';
    color: white;
}